<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="./main.css">
</head>
<body>

<div class="mainbox">
    <h1>Parcel System</h1><hr>
    <h4>Main Menu</h4><hr>
    <a href="/NewParcel"><button type="button" class="btn btn-primary">Create a New Parcel</button></a>&nbsp;&nbsp;
    <a href="/MyParcels"><button type="button" class="btn btn-primary">My Parcels</button></a>&nbsp;&nbsp;
    <a href="/NewParcel"><button type="button" class="btn btn-primary">Parcel History</button></a>&nbsp;&nbsp;

</div>

</body>
</html>
